{% from 'components/breadcrumb/macro.njk' import breadcrumb %}
{% from 'components/input/macro.njk' import input %}
{% from 'components/button/macro.njk' import button %}
{% extends 'layout.html' %}

{% block content %}
  {{ breadcrumb({
    items: [
      {
        href: "/index",
        text: "Home"
      }
    ],
    href: "/index",
    text: "Services near you"
  })}}
  <div class="nhsuk-width-container">
    <main id="maincontent" class="nhsuk-main-wrapper util-nofocus">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
          <h1>{{ heading }}</h1>
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-full">
        {% block inset %}
        {% endblock %}
        </div>
      </div>
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-two-thirds">
            <form method="get" class="form" action="{{ actionLink }}">
              <div class="nhsuk-form-group">
                {{ input({
                  "label": {
                    "text": "Enter a town, city or postcode in England"
                  },
                  "classes": "nhsuk-input--width-20"
                }) }}
              </div>
              <div class="nhsuk-form-group">
                {{ button({
                  "text": "Search"
                }) }}
                {{ button({
                    "text": "Use your location",
                    "classes": "nhsuk-button--secondary",
                    "href": "#"
                }) }}
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
{% endblock %}