{% set title = 'Hand pain fall back' %} {% extends 'conditions/handpain.html' %} {% block carecard %}

{{ careCard({
    "type": "urgent",
    "heading": "Go to an urgent treatment centre if:",
    "HTML": "
    <ul>
        <li>you have extreme pain after an injury</li>
        <li>your wrist or finger are a funny shape </li>
        <li>there was a snap or grinding noise at the time of injury</li>
        <li>you have difficulty moving the hand, wrist or fingers</li>
    </ul>
    <p> These are signs of a broken bone.</p>

    <p>
        <a href='https://www.nhs.uk/service-search/Urgent-Treatment-Centre/LocationSearch/10022'>Find an urgent treatment centre</a>
    </p>
    <p>If you're not sure what to do, go to
        <a href='https://111.nhs.uk/'>111.nhs.uk</a> or
        <a href='tel: 111'>call 111</a>.</p>
    "
  }) }}
{% endblock %}