{% set title = 'Find your nearest A&E' %}
{% set heading = 'Find your nearest A&E' %}
{% extends 'urgent-care-finder.html' %}

{% block inset %}
<div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
    <div>
        <p>A&E is only for serious accidents and life-threatening emergencies.</p>
    </div>
    <div role="note" class="nhsuk-c-inset-text">
        <span class="visually-hidden">Information: </span>
        <p>Not sure if A&E is what you need? Go to <a href="https://111.nhs.uk/">visit 111.nhs.uk</a> or <a href="tel: 111">call 111</a> to find out the right place to get help.</p>
    </div>
</div>
{% endblock %}