{% set title = 'Urgent care care carder' %} {% extends 'includes/site-layout.html' %} {% block body %}
<div class="nhsuk-o-width-container">
    <main class="nhsuk-o-main-wrapper" id="main-content">
        <div class="nhsuk-o-grid">
            <div class="nhsuk-o-grid__item nhsuk-o-grid__item--one-thirds">
                <div class="nhsuk-c-care-card nhsuk-c-care-card--red">
                    <div class="nhsuk-c-care-card__heading">
                        <h3>Ask for an urgent GP appointment if you have:</h3>
                    </div>
                    <div class="nhsuk-c-care-card__content">
                        <ul>
                            <li>pain in your sides or lower back</li>
                            <li>a very high temperature or you feel hot and shivery </li>
                            <li>felt sick or been sick</li>
                            <li>
                                <a href="https://www.nhs.uk/conditions/diarrhoea-and-vomiting/">diarrhoea</a>
                            </li>
                        </ul>
                        <p>It could be a kidney infection. This can be serious if not treated.</p>
                        <p>If you cannot see a GP, go to
                            <a href="https://111.nhs.uk/">111.nhs.uk</a> or
                            <a href="tel: 111">call 111</a> to find out the right place to get help.</p>
                    </div>
                </div>
            </div>
        </div>


    </main>
</div>
{% endblock %}