{% set title = 'Hand pain 111' %} {% extends 'carecarder-hand-pain.html' %} {% block carecard %}
<div class="nhsuk-c-care-card nhsuk-c-care-card--red">
    <div class="nhsuk-c-care-card__heading">
        <h3>Get advice from 111 if:</h3>
    </div>
    <div class="nhsuk-c-care-card__content">
                    <ul>
                    <li>you have extreme pain after an injury</li>
                    <li>your wrist or finger are a funny shape </li>
                    <li>there was a snap or grinding noise at the time of injury</li>
                    <li>you have difficulty moving the hand, wrist or fingers</li>
                </ul>
                <p> These are signs of a broken bone.</p>
                <p>111 can tell you where to go or arrange a call from a nurse or doctor if you need one.</p>
                <p> Go to
                    <a href='https://111.nhs.uk/zzyzx'>111.nhs.uk</a> or
                    <a href='tel: 111'>call 111</a>.</p>
                </br>
                    <details class='nhsuk-details nhsuk-expander'>
                            <summary class='nhsuk-details__summary' role='button' aria-controls='details-content-1' aria-expanded='false' style='padding: 0'>
                                <span class='nhsuk-details__summary-text'>
                                    Other ways to get help
                                </span>
                            </summary>
                            <div class='nhsuk-details__text' id='details-content-1' aria-hidden='true'style='padding-left: 0'>
                                <h4>Go to an urgent treatment centre</h4>
                                <p>Urgent treatment centres are places you can go if you need help now, but it's not an emergency.</p>
                                <p>They're also called walk-in centres or minor injuries units.</p>
                                <p>You may be seen quicker than you would at A&E.</p>
                                <p><a href='https://www.nhs.uk/service-search/Urgent-Treatment-Centre/LocationSearch/10022'>Find an urgent treatment centre</a></p>
                
                            </div>
                        </details>
    </div>
</div>
{% endblock %}