{% set title = 'Home' %}
{% set navigation = 'transactional' %}
{% from 'components/callout/macro.njk' import callout %}
{% extends 'includes/site-layout.html' %}

{% block body %}
<main id="main-content" class="nhsuk-home-page">
    <div class="nhsuk-hero">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-main-wrapper nhsuk-hero-container">
                <div class="nhsuk-o-grid">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                        <div class="nhsuk-page-heading">
                            <h1>Urgent Care Signposting Prototypes</h1>
                            <p>Prototypes of the three possible solutions to improving urgent care signposting, conceived as a part of a Magnum CI design sprint.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">

                  <h2>Prototypes</h2>
                  <ul>
                    <li><a href="#"> Prototype 1</a></li>
                    <li><a href="#"> Prototype 2</a></li>
                    <li><a href="#"> Prototype 3</a></li>
                  </ul>

                
                    <div class="nhsuk-reading-width">
                        <h2>Useful information</h2>
                        <ul>
							              <li>our <a href="examples">example component pages</a> for user testing and visual examples.</li>
                            <li>the <a href="https://github.com/nhsuk/urgent-care-prototypes.git">public GitHub repository</a> of our design code.</p></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
