{% set title = 'Home' %}
{% set navigation = 'transactional' %}
{% from 'components/callout/macro.njk' import callout %}
{% extends 'includes/site-layout.html' %}

{% block body %}
<main id="main-content" class="nhsuk-home-page">
    <div class="nhsuk-hero">
        <div class="nhsuk-o-width-container">
            <div class="nhsuk-o-main-wrapper nhsuk-hero-container">
                <div class="nhsuk-o-grid">
                    <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                        <div class="nhsuk-page-heading">
                            <h1>Urgent Care Signposting Prototypes</h1>
                            <p>Prototypes of the three possible solutions to improving urgent care signposting, conceived as a part of a Magnum CI design sprint.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="nhsuk-o-width-container">
        <div class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">

                  <h2>Prototypes</h2>
                  <ul>
                    <li>
                    <p>Interruptor</p>
                        <ol>
                            <li><a href="/google/search-wi">Google journey Walk-in</a></li>
                            <li><a href="/walk-in-finder">Direct to Walk-in finder</a></li>
                        </ol>
                    </li>
                    <li>
                    <p>Interruptor & Pete</p>
                        <ol>
                            <li><a href="/google/search-ae">Google journey A&E</a></li>
                            <li><a href="/ae-finder">Direct to A&E finder</a></li>
                        </ol>
                    </li> 
                    <li><a href="/carecarder">Care Carder</a> </li>
                    <li><a href="https://www.nhs.uk/conditions/diabetic-eye-screening-approach-1/">Diabetic eye screening test approach 1</a></li>
                    <li><a href="https://www.nhs.uk/conditions/diabetes-eye-screening/">Diabetic eye screening test approach 2</a></li>
                    <li><a href="https://www.nhs.uk/conditions/high-cholesterol-1/">High cholesterol approach 1</a></li>
                    <li><a href="https://www.nhs.uk/conditions/high-cholesterol-2/">High cholesterol approach 2</a></li>
                  </ul>

                    <div class="nhsuk-reading-width">
                        <h2>Useful information</h2>
                        <ul>
                            <li>the <a href="index-old">list of components</a> used.</li>
                            <li>the <a href="examples">example pages</a> for user testing.</li>
                            <li>the <a href="https://github.com/nhsuk/urgent-care-prototypes.git">public GitHub repository</a> of this project.</p></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
