<section class="callout callout--info callout--compact">
  <p class="callout--info__mesg">Open until midnight</p>
  <div class="openingTimes-panel">
    <a href="javascript:void(0)" class="openingTimes-panel__toggle" data-toggle="collapse" role="button" aria-expanded="false">Opening times<span class="sr-only"> for Leeds General Infirmary</span></a>
    <div class="openingTimes-panel__content">
      <table class="openingTimes">
        <tbody><tr><th>Day of the week</th><th>Opening hours</th></tr>
          <tr>
            <th rowspan="1">Monday</th>
            <td>6am to midnight</td>
          </tr>
          <tr>
            <th rowspan="1">Tuesday</th>
            <td>6am to midnight</td>
          </tr>
          <tr>
            <th rowspan="1">Wednesday</th>
            <td>6am to midnight</td>
          </tr>
          <tr>
            <th rowspan="1">Thursday</th>
            <td>6am to midnight</td>
          </tr>
          <tr>
            <th rowspan="1">Friday</th>
            <td>6am to midnight</td>
          </tr>
          <tr>
            <th rowspan="1">Saturday</th>
            <td>7am to midnight</td>
          </tr>
          <tr>
            <th rowspan="1">Sunday</th>
            <td>9am to midnight</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>