{% set title = 'Urgent care finder' %}
{% set result_heading = 'Find your nearest walk-in centre' %}
{% from 'components/breadcrumbs/macro.njk' import breadcrumbs %}
{% extends 'includes/site-layout.html' %}

{% block body %}
{% block breadcrumb %}
    {{ breadcrumbs('/index', 'Home', '/index', 'Services near you') }}
{% endblock %}
<div class="nhsuk-o-width-container">
    <main id="main-content" class="nhsuk-o-width-wrapper util-nofocus">
        <div class="nhsuk-o-main-wrapper">
            <div class="nhsuk-o-grid">
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                    <div class="nhsuk-page-heading">
                        <h1>{{ heading }}</h1>
                    </div>
                </div>
                {% block inset %}
                {% endblock %}
                <div class="nhsuk-o-grid__item nhsuk-o-grid__item--full">
                    <div class="nhsuk-reading-width">
                        <div class="nhsuk-page-content">
                            <div class="nhsuk-app__search">
                                <div class="search-container">
                                    <form method="get" class="form" action="/urgent-care-results">
                                        <div>
                                            <div class="form-group ">
                                                <label for="location">Enter a town, city or postcode in England</label>
                                            </div>
                                            <input autocomplete="off" type="text" class="form-control" name="location" id="location" value="">
                                        </div>
                                        <div class="form-item-wrapper">
                                            <div class="form-group">
                                                <input type="submit" class="button" value="Search">
                                            </div>
                                        </div>
                                        <div class="geo-locate">
                                            <p><a class="button button--secondary geo-locate--locate" href="#">Use your location</a></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{% endblock %}
